.marketplace {
    padding: 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #378e74;
}

.product-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    font-size: 1em;
    margin: 5px 0;
}